/* Bobby Dark Mode 介绍
    * 此UI使用了目前网络上主流的色彩进行配色
    * 并且使用了Google的Matieral Design进行配色[和排版]
    * 此版本为lzq-v0.0.0(分支版本 由lzq修改)
    * 如有改进请联系bobby(mczsjzsjz@outlook.com)
*/
/* html{
	webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	filter: gray;
} */
body {
    background-color: #191919;      /* good background color with dark mode */
}
h1,h2,h3 {
    color: #fff;
    align: center;
}
p,li,pre,summary {
    color: rgb(163,163,163);
}
a {
    color: #03e9f4;
    text-decoration: none;
}
#an:hover {
    text-decoration: underline;
}
button {
    outline: none;
    color: #03e9f4;                 /* good color with dark mode */
    border: none;
    background-color: #191919;
}
button:hover,#btnon {
    background-color: #03e9f4;
    color: #191919;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}
.nav, .footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#fta {
    color: gray !important;
    text-decoration: none;
}
#fta:hover {
    color: gray !important;
    text-decoration: underline;
}
.fzxs {
    font-family: fzxs;
}
@font-face {
    font-family:fzxs;
    src:url("/font/FZXIANGSU16.TTF");
	font-display: swap;
}
.mc{
    font-family:fzxs;
    color:#ffffff;
}
#act {
    background-color: #2c2c2c;
    width: 85%;
    margin-left: 35px;
    word-break: break-all;
    box-shadow: 0 0 1px #03e9f4,
                0 0 5px #03e9f4,
                0 0 10px #03e9f4,
                0 0 40px #03e9f4;
}
#act p {
    margin-left: 30px;
    margin-right: 15px;
}
#act h3 {
    padding-left: 10px;
    padding-top: 7px;
}
audio {
    display: flex;
}
#arttit {
    margin-left: 5%;
}
#artpar {
    margin-left: 8%;
    margin-right: 8%;
}
ul {
    margin-left: 10%;
    margin-right: 10%;
}
li {
    padding-top: 5px;
}
pre {
    font-family: consolas;
}
